<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="/tutor"><img class="tutor" src="/images/399486249fae9d95aecc223e0f7d3d2f.jpg" alt=""></a>
                <h1 class="text">Tutor</h1>
            </div>
            <div class="col-md-6 text-center">
                <a href="/student"><img class="student" src="/images/download.png" alt=""></a>
                <h1 class="text">Student</h1>

            </div>
        </div>
    </div>
</section>

<style>
    body {
        background-image: url('/images/Untitled\ design.png');

    }

    .tutor {
        border: 5px solid rgb(11, 177, 233);
        align-items: center;
        margin-top: 110px;
        width: 370px;
        border-radius: 270px;
    }

    .student {
        border: 5px solid rgb(11, 177, 233);
        align-items: center;
        margin-top: 110px;
        width: 370px;
        border-radius: 270px;
    }

    .student:hover {
        transform: scale(1.10);
    }

    .tutor:hover {
        transform: scale(1.10);
    }

    .text {
        font-size: 60px;
        font-weight: bold;
        color: rgb(94, 12, 141);
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
    integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
    crossorigin="anonymous"></script>
<script>
    const tl = gsap.timeline({ defaults: { ease: "power1.out" } });

    tl.to(".text", { y: "0%", duration: 1, stagger: 0.25 });
    tl.to(".slider", { y: "-100%", duration: 1.5, delay: 0.5 });
    tl.to(".intro", { y: "-100%", duration: 1 }, "-=1");
    tl.fromTo("section", { opacity: 0 }, { opacity: 1, duration: 1 });
    tl.fromTo(".big-text", { opacity: 0 }, { opacity: 1, duration: 1 }, "-=1");
</script>
